* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

input {
    border: none;
    background: none;
    font-family: Involve, sans-serif;
    outline: none;
}

button {
    border: none;
    background: none;
    font-family: Involve, sans-serif;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-main-white: #fff;
    --color-line-border: #2d2d2d;
    --color-bg-black: #0e0e0e;
    --color-main-decard: #1d45c5;
    --color-text-secondary: #868686;
    --color-text-disableinput: rgba(255, 255, 255, 0.3);
    --color-red: #ed2e23;
    --color-line-tag: #454545;
    --color-btn-arrow: #1a1a1a;
}

@font-face {
    font-family: 'Involve';
    src: url('assets/fonts/Involve-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('assets/fonts/Involve-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Involve';
    src: url('assets/fonts/Involve-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Involve' , sans-serif;
    background: var(--color-bg-black);
}

.container {
    margin: 0 auto;
    max-width: 1856px;
}

.links-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 4px;
}

.links-wrapper a {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-main-white);
}

.links-wrapper span {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-main-white);
}

.links-wrapper .last {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.links-wrapper a:last-child {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.title {
    margin-top: 32px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-main-white);
}

.cookie{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 930px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease, transform .25s ease;
}

.cookie.is-open{
    opacity: 1;
    pointer-events: auto;
}

.cookie__content{
    position: relative;
    background: var(--color-main-decard);
    color: var(--color-main-white);
    padding: 32px 0 24px 32px;
    display: grid;
    gap: 24px;
}

.cookie__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-main-white);
    max-width: 776px;
}

.cookie__actions{
    display: flex;
    gap: 16px;
}

.cookie__btn{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-bg-black);
    background: var(--color-main-white);
}

.cookie__btn--ghost{
    color: var(--color-main-white);
    background: none;
    border: 1px solid var(--color-main-white);
}

.cookie__close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

@media screen and (max-width: 1919px) {
    .container {
        max-width: 1376px;
    }

    .links-wrapper {
        margin-top: 24px;
    }

    .links-wrapper a {
        font-size: 12px;
    }

    .links-wrapper span {
        font-size: 12px;
    }

    .links-wrapper .last {
        font-size: 12px;
    }

    .links-wrapper a:last-child {
        font-size: 12px;
    }

    .title {
        margin-top: 19px;
        font-size: 40px;
    }
}

@media screen and (max-width: 1375px) {
    .container {
        max-width: 728px;
    }

    .links-wrapper {
        display: none;
    }

    .title {
        margin-top: 32px;
        font-size: 40px;
    }

    .cookie{
        width: 728px;
    }

    .cookie__content{
        padding: 32px;
    }

    .cookie__text{
        font-size: 14px;
        max-width: 569px;
    }

}

@media screen and (max-width: 727px) {
    .container {
        margin: 0 auto;
        max-width: none;
        padding: 0 20px;
    }

    .links-wrapper {
        display: none;
    }

    .title {
        margin-top: 32px;
        font-size: 24px;
    }

    .cookie{
        position: fixed;
        left: 20px;
        bottom: 20px;
        max-width: 335px;
    }

    .cookie__content{
        padding: 20px;
        gap: 20px;
    }

    .cookie__text{
        font-size: 14px;
        max-width: 232px;
    }

    .cookie__actions{
        gap: 20px;
    }

    .cookie__btn{
        width: 138px;
    }

    .cookie__close{
        right: 24px;
        width: 32px;
        height: 32px;
    }

    .cookie__close{
        width: 15px;
    }
}