.portfolio {
    margin-top: 56px;
    margin-bottom: 200px;
}

.portfolio-filter {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.portfolio-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 64px;
}

.portfolio-filters {
    max-width: 408px;
    width: 100%;
    padding-top: 24px;
    border-top: 1px solid var(--color-line-border);
}

.portfolio-search {
    border: 1px solid var(--color-line-border);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-block {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-block span {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-text-secondary);
}

.filter-block p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-text-secondary);
    padding: 13px 16px 15px 16px;
    border: 1px solid var(--color-line-border);
}

.filter-block div {
    display: flex;
    gap: 8px;
}

.filter-block div span {
    border: 1px solid var(--color-line-border);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-main-white);
}

.portfolio-list {
    padding-top: 24px;
    border-bottom: 1px solid var(--color-line-border);
    padding-bottom: 24px;
    border-top: 1px solid var(--color-line-border);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.filter-clear {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-main-white);
}

.portfolio-block {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-line-border);
}

.portfolio-block:last-child {
    padding-bottom: 0;
    border: none;
}

.portfolio-block__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-block__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.portfolio-block__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-main-white);
}

.portfolio-tags__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-place {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-text-secondary);
}

.portfolio-tags {
    display: flex;
    gap: 8px;
    align-items: center;
}

.portfolio-tags span {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--color-main-white);
    border: 1px solid var(--color-line-tag);
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.portfolio-block__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-block__info span {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-text-secondary);
}

@media screen and (max-width: 1920px) {
    .portfolio {
        margin-top: 57px;
        margin-bottom: 150px;
    }

    .portfolio-wrapper {
        margin-top: 20px;
        gap: 43px;
    }

    .portfolio-filters {
        max-width: 306px;
    }

    .filter-block div {
        flex-wrap: wrap;
    }

    .filter-clear {
        font-size: 14px;
    }

    .portfolio-block {
        gap: 18px;
    }

    .portfolio-block img {
        width: 487px;
    }

    .portfolio-block__text {
        gap: 16px;
    }

    .portfolio-block__title {
        font-size: 24px;
    }

    .portfolio-place {
        font-size: 14px;
    }

    .portfolio-tags span {
        font-size: 12px;
        padding: 0 8px;
        height: 26px;
    }

    .portfolio-block__info span {
        font-size: 14px;
    }
}
